body {
    background-color: snow;
}
h2 {
    text-align: center;
}
table {
    border-spacing: 0 10px;
    font:  bold 100% Georgia, serif;
    margin: 40px auto;
    text-shadow: 3px 3px 3px darkgray;
    background: darkseagreen;
    text-align: left;
    vertical-align: auto;
    width: 60%;
    border: 10px solid green;
}
